.container
  .top-bar
    .top-left
      = image_tag 'back-tab.png', class: 'back-icon'
    .top-right
      %p Comment
  .comments-list
    .comment
      .comment-author
        = Faker::Name.name
      .comment-body
        = Faker::Lorem.paragraph_by_chars(number: 100)
  .comment-form
    = image_tag 'comment-form.png', class: 'comment-input'
    = image_tag 'comment.png', class: 'comment-mark'

