.container
  .top-bar
    .top-left
      = link_to :back do
        = image_tag 'back-tab.png', class: 'back-icon'
    .top-right
    - if user == current_user
      = link_to 'プロフィールを編集', '#', class: 'sub-button'
    - else
      - if current_user&.has_followed(user)
        = link_to 'フォローをはずす', account_unfollows_path(user), data: {method: 'post'}, class: 'sub-button'
      - else
        = link_to 'フォローする', account_follows_path(user), data: {method: 'post'}, class: 'sub-button'
  .user-info
    .user-img
      = image_tag user.avatar_image, class: 'user-icon'
      - if user == current_user
        %input.file-upload.hidden{type: "file"}
    .user-name
      = user.account_name
    .user-stats
      .stat-item
        %span.stat-value 44
        %span.stat-label Posts
      .stat-item
        %span.stat-value
          = user.followings.count
        %span.stat-label フォロー中
      .stat-item
        %span.stat-value
          = user.followers.count
        %span.stat-label フォロワー
  .content-wrapper
    = image_tag 'Group 8.png', class: 'content-img'
%footer.footer
  = image_tag 'Home Indicator.png'