.container.account-show{data: {account_id: user.id}}
  .top-bar
    .top-left
      = link_to :back do
        = image_tag 'back-tab.png', class: 'back-icon'
    .top-right
    - if user_signed_in?
      - if user == current_user
        = link_to 'プロフィールを編集', '#', class: 'sub-button'
      - else
        - if current_user.has_followed?(user)
          .sub-button.active-follow{data: {account_id: user.id}} フォローをはずす
          .sub-button.inactive-follow.hidden{data: {account_id: user.id}} フォローする
        - else
          .sub-button.inactive-follow{data: {account_id: user.id}} フォローする
          .sub-button.active-follow.hidden{data: {account_id: user.id}} フォローをはずす

  .user-info
    .user-img
      = image_tag user.avatar_image, class: 'user-icon'
      - if user == current_user
        %input.file-upload.hidden{type: "file"}
    .user-name
      = user.account_name
    .user-stats
      .stat-item
        %span.stat-value 44
        %span.stat-label Posts
      .stat-item
        %span.stat-value
          = user.followings.count
        %span.stat-label フォロー中
      .stat-item
        %span.stat-value
          = user.followers.count
        %span.stat-label フォロワー
  .content-wrapper
    = image_tag 'Group 8.png', class: 'content-img'
%footer.footer
  = image_tag 'Home Indicator.png'