- content_for :header_time, 'white-time.png'
- content_for :header_mobile, 'white-mobile.png'
- content_for :header_wifi, 'white-wifi.png'
- content_for :header_battery, 'white-battery.png'
= render "commons/headerpicture"
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field.email-wrapper-in
    .label-title= f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field.password-wrapper
    .label-title= f.label :password
    %br/
    = f.password_field :password, autocomplete: "current-password"
  = render "devise/shared/links"
  .actions
    = f.submit "Login", class: 'btn'
= image_tag 'Home Indicator.png', alt: 'ホームインディケーター', class: 'home-indi'
