.container
  = image_tag 'photo-camera.png', class: 'photo-img'

  .post-wrapper
    .post-info
      .post-img-info
        = image_tag 'default-avatar', class: 'post-account-img'
        .online-mark
      .post-text-info
        %P.post-name no name
        %p.post-time no time
    .post-contents
      .content-left
        = image_tag 'contents-img1'
      .content-right
        = image_tag 'contents-img2'
        = image_tag 'contents-img3'
