.container
  = link_to new_post_path do
    = image_tag 'photo-camera.png', class: 'photo-img'

  .post-wrapper
    .post-info
      .post-img-info
        = image_tag 'default-avatar', class: 'post-account-img'
        .online-mark
      .post-text-info
        %P.post-name no name
        %p.post-time no time
    .post-img
      .post-img-left
        = image_tag 'contents-img1'
      .post-img-right
        = image_tag 'contents-img2'
        = image_tag 'contents-img3'
    .post-intaraction
      .post-like
        = image_tag 'like-active.png'
      .post-comment
        = image_tag 'comment.png'
      .post-share
        = image_tag 'share.png'
    .post-content
      %p Jasmine and 12,000 other liked your post
      %p Jmax_21  Summer holiday :3
