.container
  = link_to new_post_path do
    = image_tag 'photo-camera.png', class: 'photo-img'

  - @posts.each do |post|
    .post-wrapper
      .post-info
        .post-img-info
          = image_tag current_user.avatar_image, class: 'post-account-img'
          .online-mark
        .post-text-info
          %p.post-name= current_user.account_name
          %p.post-time= post.updated_at
      .post-content
        = post.content
      .post-img
        .post-img-left
          = image_tag 'contents-img1'
        .post-img-right
          = image_tag 'contents-img2'
          = image_tag 'contents-img3'
      .post-intaraction
        .post-like
          = image_tag 'like-active.png'
        .post-comment
          = image_tag 'comment.png'
        .post-share
          = image_tag 'share.png'
