!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title InstaApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.header
      .header-left
        = image_tag(content_for?(:header_time) ? yield(:header_time) : 'black-time.png')
      %nav.header-right
        %ul.nav-list
          %li
            = image_tag(content_for?(:header_mobile) ? yield(:header_mobile) : 'black-mobile.png', class: 'mobile-img')
          %li
            = image_tag(content_for?(:header_wifi) ? yield(:header_wifi) : 'black-wifi.png', class: 'wifi-img')
          %li
            = image_tag(content_for?(:header_battery) ? yield(:header_battery) : 'black-battery.png', class: 'battery-img')
    - if notice
      %p.notice= notice
    - if alert
      %p.alert= alert
    = yield
